# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_SEPPELIT_LEFT
    def_bool $(shields_list_contains,seppelit_left)

config SHIELD_SEPPELIT_RIGHT
    def_bool $(shields_list_contains,seppelit_right)
