if SHIELD_SEPPELIT_LEFT

config ZMK_KEYBOARD_NAME
    default "Seppelit"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SEPPELIT_LEFT || SHIELD_SEPPELIT_RIGHT

config ZMK_SPLIT
    default y

endif
